<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>body {
    font-family: "Sofia",serif;
}

p.a {
    font-family: "Audiowide",sans-serif;
}

p.b {
    font-family: "Sofia",sas-serif;
}

p.c {
    font-family: "Trirong",serif;
}