<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>body {
    font-size: 32px;
}

h1 {
    font-family: MSYH;
    font-size: 32px;
}

p.wb {
    font-family: SIMKAI;
    font-size: 80%;
}

p.sb {
    font-family: SIMSUN;
}