* {
   box-sizing: border-box;
}

/* 定义群组选择器，让html和body撑满整个页面 */
html,body {
    height: 100%;
}

/* 去除body外边界 */
body {
    margin: 0;
    height: 2000;
}

/* 给外部容器的三个盒子定义样式 */
.container>div {
    float: left;
    width: 150px;
    border: 1px solid green;
    line-height: 150px;
    text-align: center;
}

.container {
    display: inline-block;/* 这样设置显示属性防止margin塌陷 */
    margin-top: 100px;
    margin-left: 100px;
    /* position: relative; */
    /* position: absolute; */
    position: static; 
}

/* 为了消除浮动对其它容器的影响，给container定义伪元素 */
.container:after {
    content: "";
    clear: both;
    display: block;
}

.box1 {
    background: orange;
}

.box2 {
    background: skyblue;
    /* position: relative;
    left: 50px;
    top: 50px;盒子移动 */

    /*position: absolute; 盒子1消失 
    left: 50px;
    top: 50px;*/

    /*position: fixed;
    right: 0px;
    top: 100px;*/

    /*position: sticky;
    right: 0px;
    top: 100px;*/
}

.box3 {
    background: hotpink;
}

.box4 {
    height: 30px;
    background-color: darkgrey;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    position: sticky;
    top: 0px;
}

