* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.one, .two, .three, .four {
    position: absolute;
}

.one {
    background: red;
    outline: 5px solid black;
    top: 100px;
    left: 200px;
    z-index: 10;
}

.two {
    background: green;
    outline: 5px solid black;
    top: 50px;
    left: 75px;
    z-index: 100;
}

.three {
    background: skyblue;
    outline: 5px solid black;
    top: 125px;
    left: 25px;
    z-index: 150;
}

.four {
    background: blue;
    outline: 5px solid black;
    top: 200px;
    left: 350px;
    z-index: 20;
}

