ul li,div {
    display:block;
}

span,a {
    display:inline;
}

.imgbox {
    float:left;
    text-align:center;
    width:240px;
    border:1px solid gray;
    margin:4px;
    padding:6px;
}

.imgbox img {
    width:200px;
}

#imgbox2 {
    /*display:block;*/
    visibility:hidden;
}
